.my-iconfont {
  position: relative;
  top: 1px
}

.ant-dropdown-menu-item .my-iconfont {
  top: 0
}

.anticon {
  >* {
    line-height: 1;
  }

  svg {
    display: inline-block;
  }

  &:before {
    display: none;
  }

  .anticon-icon {
    display: block;
  }
}

.anticon[tabindex] {
  cursor: pointer;
}

.anticon-spin {
  display: inline-block;
  animation: loadingCircle 1s linear infinite;

  &:before {
    display: inline-block;
    animation: loadingCircle 1s linear infinite;
  }
}

.ant-collapse {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #373c44;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px;

  >.ant-collapse-item {
    border-bottom: 1px solid #d9d9d9;

    &:last-child {
      border-radius: 0 0 4px 4px;

      >.ant-collapse-header {
        border-radius: 0 0 4px 4px;
      }
    }

    >.ant-collapse-header {
      position: relative;
      padding: 12px 16px 12px 40px;
      color: rgba(0, 0, 0, .85);
      line-height: 1.5715;
      cursor: pointer;
      transition: all .3s;

      &:before {
        display: table;
        content: "";
      }

      &:after {
        display: table;
        clear: both;
        content: "";
      }

      .ant-collapse-arrow {
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 50%;
        left: 16px;
        display: inline-block;
        font-size: 12px;
        transform: translateY(-50%);

        >* {
          line-height: 1;
        }

        svg {
          display: inline-block;
          transition: transform .24s;
        }

        &:before {
          display: none;
        }

        .ant-collapse {
          >.ant-collapse-item {
            >.ant-collapse-header {
              .ant-collapse-arrow-icon {
                display: block;
              }
            }
          }
        }
      }

      .ant-collapse-extra {
        float: right;
      }

      &:focus {
        outline: none;
      }
    }
  }

  >.ant-collapse-item.ant-collapse-no-arrow {
    >.ant-collapse-header {
      padding-left: 12px;
    }
  }

  .ant-collapse-item-disabled {
    >.ant-collapse-header {
      color: rgba(0, 0, 0, .25);
      cursor: not-allowed;

      >.arrow {
        color: rgba(0, 0, 0, .25);
        cursor: not-allowed;
      }
    }
  }
}

.ant-collapse-icon-position-right {
  >.ant-collapse-item {
    >.ant-collapse-header {
      padding: 12px 40px 12px 16px;

      .ant-collapse-arrow {
        right: 16px;
        left: auto;
      }
    }
  }
}

.ant-collapse-anim-active {
  transition: height .2s cubic-bezier(.215, .61, .355, 1);
}

.ant-collapse-content {
  overflow: hidden;
  color: #373c44;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;

  >.ant-collapse-content-box {
    padding: 16px;
  }
}

.ant-collapse-content-inactive {
  display: none;
}

.ant-collapse-item {
  &:last-child {
    >.ant-collapse-content {
      border-radius: 0 0 4px 4px;
    }
  }
}

.ant-collapse-borderless {
  background-color: #fafafa;
  border: 0;

  >.ant-collapse-item {
    border-bottom: 1px solid #d9d9d9;

    &:last-child {
      border-radius: 0;

      .ant-collapse-header {
        border-radius: 0;
      }
    }

    >.ant-collapse-content {
      background-color: transparent;
      border-top: 0;

      >.ant-collapse-content-box {
        padding-top: 4px;
      }
    }
  }
}

.ant-collapse-ghost {
  background-color: transparent;
  border: 0;

  >.ant-collapse-item {
    border-bottom: 0;

    >.ant-collapse-content {
      background-color: transparent;
      border-top: 0;

      >.ant-collapse-content-box {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

.ant-collapse-rtl {
  direction: rtl;

  .ant-collapse {
    >.ant-collapse-item {
      >.ant-collapse-header {
        padding: 12px 40px 12px 16px;
      }
    }
  }
}

.ant-collapse-rtl.ant-collapse {
  >.ant-collapse-item {
    >.ant-collapse-header {
      .ant-collapse-arrow {
        svg {
          transform: rotate(180deg);
        }
      }

      .ant-collapse-extra {
        float: left;
      }
    }
  }

  >.ant-collapse-item.ant-collapse-no-arrow {
    >.ant-collapse-header {
      padding-right: 12px;
      padding-left: 0;
    }
  }
}

.faq-area {
  background-color: #fff;
  padding: 60px 0 120px;
  width: 1200px;
  margin: 0 auto;
  border-radius: 4px;

  .faq {
    width: 1000px;
    margin: 0 auto;

    .title {
      text-align: center;
      font-size: 48px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .faq-header {
      font-size: 24px;
    }

    .ant-collapse-item {
      border-bottom: 1px solid #eee;
      border-radius: 0;
      padding: 20px 0;
      font-weight: 400;

      .ant-collapse-header {
        font-weight: 500;

        .anticon {
          position: absolute;
          right: 16px;
          top: 20px;
          font-size: 24px;
        }
      }

      .ant-collapse-content {
        font-size: 18px;
      }
    }
  }
}
