.support {

  .select,
  input,
  textarea {
    margin-bottom: 24px;
    width: 100%;
    border: solid 1px $info;
    border-radius: 5px;
    max-width: 100%;
    display: block;
  }

  .error {
    border-color: #f50;

    &:focus {
      border-color: #f50;
    }
  }

  .success-wrap {
    padding-top: 40px;

    .page-title {
      margin-bottom: 24px;
    }
  }

  label {
    display: none;
  }

  .button {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

    &.loading {
      color: #dbeffb;

      &:before {
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        margin-top: -16px;
        left: 25px;
        top: 50%;
      }
    }
  }

  .select select {
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    padding: 15px 36px 15px 18px;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    line-height: 18px;
    color: #6b6b6b
  }

  .select select:focus {
    outline: 0;
    border: 1px solid rgba(48, 181, 255, .68);
    -webkit-box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .2);
    border-radius: 3px
  }

  .textarea {
    height: auto;
    min-height: 172px
  }

  .label {
    cursor: pointer
  }

  .input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


  .support .error-msg {
    line-height: 23px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #f50;
  }
}
