/* ------------------------------------------------------
-------------- Main Section Styling Starts --------------
--------------------------------------------------------*/

#main {
  height: 100%;
  padding-top: 80px;
}

/* ----- Reset the base element style ----- */

.btn {
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.btn-primary {
  background-color: $blue !important;

  &:hover,
  &:focus {
    background-color: $green !important;
    color: #FFFFFF !important;
  }

  &:active {
    background-color: $green !important;
    color: #FFFFFF !important;

    &:focus {
      background-color: $green !important;
      color: #FFFFFF !important;
    }
  }
}

.btn-ghost {
  background-color: transparent !important;
  color: $blue;
  border: 1px solid $blue;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
  padding: 10px 21px;
  text-transform: uppercase;
  outline: none;

  &:hover,
  &:focus {
    background-color: $blue !important;
    outline: none;
    color: #FFFFFF;
    border-color: $blue;
  }

  &:active {
    background-color: $blue !important;
    outline: none;
    color: #FFFFFF;
    border-color: $blue;

    &:focus {
      background-color: $blue !important;
      outline: none;
      color: #FFFFFF;
      border-color: $blue;
    }
  }
}

.exhibition-screen {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 100;
    color: $body-color;
    margin-bottom: 1rem;
    width: 100%;
  }

  p {
    letter-spacing: .02em;
    color: #666666;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

.exhibition-screen-bg {
  padding-top: 150px;
  padding-bottom: 150px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url('/bg/bg-buy.jpg') center center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #FFFFFF;
  }
}

.bg-gray-light {
  background: $gray-bg;
}

.mobile-display {
  display: none;
}

.page-item {
  &.active .page-link {
    background-color: $green;
    border-color: $green;
  }

  .page-link:hover {
    color: $green;
  }

  &.active .page-link:hover {
    color: #FFFFFF;
  }
}


/*-------------------------------------------------------
  ---------------- Extension Introduce Page -----------------
  --------------------------------------------------------*/


.extension-introduce-first {
  padding-top: 4rem;
  padding-bottom: 4rem;

  h1 {
    font-weight: bold;
  }

  h1,
  h3 {
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }

  .btn-primary {
    .chrome {
      width: 2.7rem;
      height: 2.7rem;
      margin-right: 0.1rem;
      top: -0.1rem;
    }

    padding: 1rem;
    border-radius: 102px !important;
  }

  .pc-display {
    background-image: url('/img/homepage.png');
    background-size: auto 103%;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    left: 3.3rem;
  }

  .videos img {
    width: 100%;
    height: auto;
  }

  a.video {
    float: left;
    position: relative;
  }

  a.video span {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://douglasgreen.com/demo/responsive-video-play-button/img/play-btn-2.png") no-repeat;
    background-position: 50% 50%;
    background-size: 150%;
  }

  @media screen and (max-width: 480px) {
    a.video span {
      background-size: 400%;
      background-size: 150%;
    }
  }

}

.extension-introduce-global {
  h1 {
    font-size: 2rem;
  }

  h3 {
    margin-bottom: 4.5rem;
  }

  .icon img {
    width: 3rem;
    margin-bottom: 1.1rem;
  }
}


/*-------------------------------------------------------
  ---------------- Slider Section Styling -----------------
  --------------------------------------------------------*/

.slider-pro {
  .sp-slide {
    background: #222222;
  }

  h2.sp-layer {
    font-size: 44px !important;
    color: $gray-700;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.3;
    text-align: left;
  }

  p.sp-layer {
    font-size: 16px;
    color: $gray-700;
    line-height: 1.4;
  }

  a {
    text-decoration: none;
    color: #444444;
    -webkit-transition: 0.5s !important;
    -moz-transition: 0.5s !important;
    transition: 0.5s !important;
  }

  .link-color {
    text-decoration: none;
    color: #111;
    -webkit-transition: 0.5s !important;
    -moz-transition: 0.5s !important;
    transition: 0.5s !important;
  }

  a:hover {
    color: #999999;
  }
}

/* ----- Client Sectiion Styling ----- */

.client-section {
  background-color: #F3F3F3;
  padding: 5px 0 0 0;
}

.clients .single {
  padding: 25px 0 25px 0;

  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
  }
}

/* ------- Footer Section Styling Starts ------- */

footer {
  background-color: #F3F3F3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 20px;
}

.contact {
  text-align: left;

  ion-icon {
    font-size: 42px;
    color: $blue;
  }

  h1 {
    font-size: 21px;
    font-weight: 400;
    color: $blue;
    margin: 10px 0 10px 0;
  }

  p {
    font-size: 16px !important;
    font-weight: 400;
    color: $gray-700;
    line-height: 1.3;
    margin: 10px 0 20px 0 !important;
  }
}

footer {
  a {
    color: $gray-700;
    font-size: 1.2em;
    line-height: 1.7em;
  }


  img {
    margin-bottom: 20px;
  }
}

.footer-menu {
  ul {
    list-style-type: none;
  }

  b {
    font-size: 1.35em;

  }

  li {
    line-height: 2;
    font-size: 14px;
    padding-right: 15px;
    text-transform: capitalize;

    a {
      color: $gray-700;
      text-decoration: none;
    }
  }
}

footer {
  span {
    color: $green;
    font-size: 13px;
  }

  b {
    font-size: 14px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: $gray-700;
    line-height: 1.3;
    margin: 10px 0 30px 0;
  }

  hr {
    border-top: solid 1px #e4e4e4;
  }
}

.footer-text p {
  font-size: 14px;
  color: $blue;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-top: 10px;
}

footer {
  a.social {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $gray-700;
  }

  .social i {
    color: #FFFFFF;
    position: relative;
    left: 8.5px;
    top: 8px;
    font-size: 15px;
  }

  a.social {
    &.twitter {
      background-color: #1fa0d6;
    }

    &.whatsapp {
      background-color: #5CC213;
    }

    &.qq {
      background-color: #0CA2DB;
    }

    &.github {
      background-color: #24292e;
    }
  }

  .email {
    font-size: 18px;
    font-weight: 400;
    color: $blue;
    text-decoration: none;
    text-decoration: none;
  }

  .dropdown-toggle {
    transition: border .2s ease-in, background .2s ease-in;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    width: 226px;
    text-align: left;
    color: #7b7b7b;
    border-radius: 0px;
    margin-top: 10px;

    &:hover,
    &:focus footer .dropdown-toggle:active footer .dropdown-toggle:active:focus {
      color: #7b7b7b;
      background-color: inherit;
      border-color: #CCCCCC;
      text-decoration: underline;
    }
  }

  .btn-outline-secondary:not(:disabled):not(.disabled) {

    &.active,
    &:active {
      color: #7b7b7b;
      background-color: inherit;
      border-color: #CCCCCC;
    }
  }

  .show>.btn-outline-secondary.dropdown-toggle {
    color: #7b7b7b;
    background-color: inherit;
    border-color: #CCCCCC;
  }

  .dropdown-toggle {
    i {
      font-size: 15px;
      margin-right: 5px;
    }

    &:after {
      content: none;
    }

    .ion-md-arrow-dropdown {
      float: right;
    }
  }

  .dropdown-menu {
    border-radius: 0px;
    width: 100%;
  }

  .dropdown-item {
    padding: 8px 20px;
  }
}

/*  --------------------------------------------------
  ------------- Reviews Section Styling ----------------
  -----------------------------------------------------*/

.review-section {
  padding: 150px 0 150px 0;
  text-align: center;
  background: #FFFFFF;
}

.reviews {
  width: 100%;
}

.review-single img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.review-text {
  h3 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.5;
    color: $gray-700;
  }

  .ion {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    color: #ff8000;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    padding: 20px 10px 20px 10px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: $gray-700;
  }
}

#help {

  .btn-group-vertical,
  a,
  button {
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
}

#helo button {
  padding: 10px 15px;
  font-size: 14px;
}

#help {
  button {
    border-top: 0px;
    border-radius: 0px;
  }

  .border-first {
    border-top: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .border-last {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .col-md-7 .content {
    padding: 50px 0px;
  }
}

.modal-content {
  border-radius: 0px;
}

.pitch-intro .row {
  margin-bottom: 30px;
}

.install-section {
  .btn-primary {
    .chrome {
      width: 2.7rem;
      height: 2.7rem;
      margin-right: 0.4rem;
      top: -0.1rem;
    }

    padding: 1rem;
    border-radius: 102px !important;
  }

}

.extension-introduce-contrast {
  p {
    width: 100%;
  }
}

/*  --------------------------------------------------
  ------------- Block Page ----------------
  -----------------------------------------------------*/

.block-page {
  &:root {
    height: 100%;
  }

  height: 100%;

  img {
    display: block;
    width: 50px;
    margin: 0 auto;
  }

  p {
    font-size: 13px;
    color: #747f8e;
    text-align: center;
    line-height: 20px;
  }
}

p.block-title {
  font-size: 22px;
  color: #56616a;
  margin-bottom: 18px;

  &:first-of-type {
    margin-top: 18px;
    margin-bottom: 10px;
  }
}

.block-page {
  .container {
    display: table;
    height: 100%;
  }

  .row {
    display: table-cell;
    vertical-align: middle;
  }

  .row-centered {
    text-align: center;
  }

  .col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
  }

  .btn-success {
    display: block;
    width: 250px;
    margin: 35px auto 0px auto;
  }

  .block-pre {
    margin-top: 15px;
    text-decoration: underline;
    font-size: 10px;
  }

  a {
    margin: 0 auto;
  }

  .icon {
    margin-bottom: 20px;
  }

  i {
    color: #d9534f;
    font-size: 60px;
  }
}

a:hover {
  text-decoration: none;
  color: $blue !important;
}

.block-page .btn {
  border-radius: 5rem;
}

/*  --------------------------------------------------
  ------------- Support&Report Page ----------------
  -----------------------------------------------------*/

.support-search-bar {
  .content {
    padding-top: 50px;
  }

  .input-group {
    max-width: 400px;
  }
}


/*  --------------------------------------------------
  ------------- Website Report ----------------
  -----------------------------------------------------*/

.website-report {
  padding-bottom: 50px;

  .card {
    width: 100%;
    margin-top: 30px;
  }

  .col-form-label {
    font-weight: bold;
  }

  .media {
    margin-top: 25px;
    border-bottom: 1px solid #eaebf2;
  }

  .ion-ios-star,
  ion-ios-star-outline {
    color: $green;
  }

  span {
    margin-right: 12px;
  }

  .media-heading {
    margin-bottom: 15px;
  }

  .page .pagination {
    padding: 30px 150px;
  }

  .form-group p {
    padding: 7px 0px;
  }
}

.btn-facebook i {
  top: 5px;
}

.btn-weixin {
  background-color: #44b549;

  &:hover {
    background-color: #2f9833;
  }
}

.help-section {
  background-color: $gray-bg;

  .btn-light {
    img {
      height: 1.8rem;
      width: auto;
      margin-right: 0.5rem;
    }

    padding: 1rem;
  }
}

.pull--top {
  margin-top: -2em;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  background-color: $gray-bg
}
