$blue: #4285F4;
$red: #DB4437;
$yellow: #F4B400;
$green: #0F9D58;
$black: #222;
$yiq-contrasted-threshold: 133.3;
$theme-color-interval: 8%;
$teal: #20c997;
$font-family-sans-serif: 'Roboto',sans-serif,arial;
$font-size-base: 1.1rem;
$input-btn-padding-y: 0.6rem;
$enable-shadows: true;
$enable-gradients: true;
$gray-700: #3c4043;
$body-color: $gray-700;
$gray-300: #dee2e6;
$secondary: $gray-300;
$gray-400: #ced4da;
$info: $gray-400;
$gray-bg: #F8F9FB
